// Define variable defaults
$body-bg: #000;
$body-color: #111;
$teal: #99DDC8;
$primary: $teal;
$red: #64150A;
$green:   #053630;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap-vue/node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';