// Define variable defaults
$body-bg: #f6f7eb;
$body-color: #111;
$teal: #99DDC8;
$green:   #053630;
$primary: $green;
$red: #64150A;
$headings-color:  #FFFFFF;


// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap-vue/node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';